In [2]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import glob,os
from shapely.ops import nearest_points
from shapely.ops import unary_union

In [269]:
import geopandas as gpd
from geopy.distance import geodesic

# Load the GeoDataFrame with your points
gdf = gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/arcgis online/selected_center_pt15.shp')

In [270]:
selected_ids = []

while len(gdf) > 0:
    #gdf = gdf.sort_values(by='score', ascending=False)
    
     # Find the point with the highest value
    highest_point = gdf.loc[gdf['score'].idxmax()]

    # Store its ID in the list
    selected_ids.append(highest_point['index'])

    # Select the point for which you want to calculate distances (e.g., the first point)
    point_to_measure = highest_point['geometry']

    # Create an empty list to store distances
    distances = []

    # Loop through all the points in the GeoDataFrame
    for _, row in gdf.iterrows():
        # Calculate the distance between the selected point and the current point
        
        dist = distance.euclidean(
       (point_to_measure.x, point_to_measure.y),
        (row.geometry.x, row.geometry.y))
        distances.append(dist)

    # Add the distances as a new column in the GeoDataFrame
    gdf['distance_to_point'] = distances
    
    #eculidan distance - 0.5 mile: 0.0155
    # *1.5 = 0.02325
    gdf=gdf[gdf['distance_to_point']>=0.02325]
    
    #print(len(gdf))

In [271]:
len(selected_ids)

18

In [365]:
gdf2 = gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Anran/module builder/results/more_criteria/new_criteria_buffer.shp')

In [245]:
gdf2[gdf2['index'].isin(selected_ids)].to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/code_updated_results_1_5/access.shp')

In [273]:
gdf2[gdf2['index'].isin(selected_ids)].sort_values('score').tail(5).to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/code_updated_results_1_5/score8.shp')

In [239]:
gdf2[gdf2['index'].isin(selected_ids)].sort_values('socio_c').tail(5)

,index,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,RENT%,bike,...,infast_ind,socio_inde,access_ind,score,fmlm_c,ridershi_1,infast_c,socio_c,access_c,geometry
374,374,0.000000,8.0,19.874804,3.943947,0.000000,13.920286,4.360892,84.998549,76.064090,...,27.091463,48.680495,56.620951,34.910983,32.917039,26.532442,31.978663,40.074550,43.052221,"POLYGON ((-82.35936 29.59915, -82.36052 29.599..."
450,450,0.000000,4.0,3.688799,0.202254,0.393064,0.773349,0.558286,51.820029,37.933556,...,25.480819,58.284592,44.709253,29.556786,24.474704,19.712254,28.028298,40.329713,35.238961,"POLYGON ((-82.32206 29.67389, -82.32322 29.673..."
528,528,11.884589,4.0,0.335345,0.202254,0.046243,0.000000,2.797451,35.980421,67.892768,...,52.594942,57.112453,61.355471,36.950716,25.994993,25.327419,42.817301,44.511367,46.102499,"POLYGON ((-82.30533 29.65720, -82.30649 29.657..."
270,270,31.577742,16.0,3.420523,0.144467,0.971098,0.178465,4.480138,44.718928,79.230817,...,63.537226,60.319656,67.970914,41.848820,28.850107,29.992032,49.981972,48.775383,51.644605,"POLYGON ((-82.30529 29.60585, -82.30645 29.605..."
235,235,43.714220,60.0,32.819137,11.499567,6.959538,30.696014,98.616632,83.979493,91.635199,...,61.265286,46.169267,89.737167,51.152942,42.390728,43.522820,54.945071,49.284064,65.622026,"POLYGON ((-82.35066 29.62108, -82.35183 29.621..."
524,524,81.337302,8.0,0.670691,0.057787,0.023121,0.178465,19.007010,57.052223,70.697402,...,67.850905,61.193754,75.594430,46.175827,35.395458,32.164343,54.303981,51.807550,57.207803,"POLYGON ((-82.27962 29.66573, -82.28079 29.665..."
514,514,64.369132,4.0,0.335345,0.043340,0.046243,0.000000,28.733950,63.750193,78.860380,...,71.761063,59.369487,86.370417,48.656035,37.087639,33.399607,57.320420,52.673579,62.798928,"POLYGON ((-82.42166 29.64492, -82.42282 29.644..."
326,326,92.603618,4.0,0.737760,0.086680,0.000000,0.000000,21.599696,60.294785,63.451512,...,68.374975,62.786838,77.547197,47.447617,37.363875,32.644049,55.295376,53.199825,58.734959,"POLYGON ((-82.35540 29.69474, -82.35657 29.694..."

In [33]:
gdf3 = gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/code_updated_results_1_5/ridership.shp')

In [34]:
gdf4 = gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/gnv/existing_mhub.shp')

In [35]:
gdf2 = gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Anran/module builder/results/more_criteria/new_criteria_buffer.shp')

In [36]:
gdf4.columns

Index(['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'HISPANIC_', 'VEHICLE_0_', 'AGE_65_UP_',
       'DIS_2064_', 'S_NOTATALL', 'BELOW_POV_', 'BLACK_', 'RENT_', 'bike',
       'bike_osm', 'sidewalk', 'sidewalk_o', 'fmlm_score', 'bus_stop_n',
       'Walkscore1', 'D3BMM4', 'D3BPO4', 'D5AR', 'D5BR', 'ridership_',
       'FMLM_index', 'infast_ind', 'socio_inde', 'access_ind', 'score',
       'geometry'],
      dtype='object')

In [37]:
exist_hub=gdf2[(gdf2['index']==225)|(gdf2['index']==246)|(gdf2['index']==255)]

In [38]:
exist_hub.columns

Index(['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'RENT%', 'bike', 'bike_osm', 'sidewalk',
       'sidewalk_o', 'bus_stop_n', 'Walkscore1', 'D3BMM4', 'D3BPO4', 'D5AR',
       'D5BR', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%', 'BLACK%', 'fmlm_score',
       'ridership_', 'FMLM_index', 'infast_ind', 'socio_inde', 'access_ind',
       'score', 'fmlm_c', 'ridershi_1', 'infast_c', 'socio_c', 'access_c',
       'geometry'],
      dtype='object')

In [11]:
exist_hub=exist_hub[['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%', 'BLACK%','sidewalk', 'sidewalk_o', 'bus_stop_n',
       'Walkscore1', 'D3BPO4', 'D5AR', 'D5BR', 'ridershi_1',
       'FMLM_index', 'infast_ind', 'socio_inde', 'access_ind', 'ridershi_1',
       'geometry', 'RENT%']]

In [12]:
score9=gdf3[gdf3['index'].isin(selected_ids)].sort_values('score').tail(9)

NameError: name 'selected_ids' is not defined

In [794]:
exist_hub.columns

Index(['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'ridershi_1', 'FMLM_index', 'infast_ind',
       'socio_inde', 'access_ind', 'score', 'geometry', 'RENT%'],
      dtype='object')

In [795]:
exist_hub=exist_hub[['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%', 'BLACK%','sidewalk', 'sidewalk_o', 'bus_stop_n',
       'Walkscore1', 'D3BPO4', 'D5AR', 'D5BR', 
       'geometry', 'RENT%']]

In [796]:
score9=score9[['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%', 'BLACK%','sidewalk', 'sidewalk_o', 'bus_stop_n',
       'Walkscore1', 'D3BPO4', 'D5AR', 'D5BR', 
       'geometry', 'RENT%']]

In [797]:
#df4=
score=pd.concat([score9,exist_hub],axis=0,ignore_index=True)

In [693]:
score.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/accessibility/access.shp')

In [185]:
score= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/accessibility/access.shp')

In [312]:
smart_location=gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/smart_location.shp')[['D3BMM4', 'geometry']]

In [314]:
smart_location.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/smart_location2.shp')

In [ ]:
#fmlm

In [694]:
origin= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/accessibility/centroid_access.shp')
stop= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Gap analysis/data/rt GTFS data/stops.shp')

In [695]:
origin['job/pop']=origin['C000']/origin['totalPp']

import numpy as np
origin=origin.replace([np.inf, -np.inf], np.nan)
origin=origin[origin['job/pop']!=0].dropna(subset=['job/pop'])
origin['job/pop'].describe()

In [499]:
origin.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/fmlm/origin2.shp')

In [90]:
origin= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/ridership/join.shp')

In [91]:
origin

,Join_Count,TARGET_FID,JOIN_FID,GEOID,NAME,educatd,nnhspnc,totalPp,C000,CA01,...,Walkscore1,D3BPO4,D5AR,D5BR,RENT_,ORIG_FID_1,BUFF_DIST,Shape_Leng,Shape_Area,geometry
0,1,0,1,120010010003009,"Block 3009, Block Group 3, Census Tract 10, Al...",0.0,37.0,50.0,0.0,0.0,...,31.955826,9.795373,57.019844,57.905514,51.820029,1,4.8,0.292158,0.006745,POINT (-82.35258 29.65855)
1,1,0,2,120010010003009,"Block 3009, Block Group 3, Census Tract 10, Al...",0.0,37.0,50.0,0.0,0.0,...,52.006344,19.592582,80.229337,91.891144,56.890948,2,4.8,0.292098,0.006742,POINT (-82.35258 29.65855)
2,1,0,3,120010010003009,"Block 3009, Block Group 3, Census Tract 10, Al...",0.0,37.0,50.0,0.0,0.0,...,77.799574,58.191614,84.662205,85.522757,53.893701,3,4.8,0.292130,0.006744,POINT (-82.35258 29.65855)
3,1,0,4,120010010003009,"Block 3009, Block Group 3, Census Tract 10, Al...",0.0,37.0,50.0,0.0,0.0,...,52.981567,49.673776,67.945424,71.513326,35.980421,4,4.8,0.292132,0.006744,POINT (-82.35258 29.65855)
4,1,0,11,120010010003009,"Block 3009, Block Group 3, Census Tract 10, Al...",0.0,37.0,50.0,0.0,0.0,...,51.957468,51.403014,69.767792,73.488571,40.241962,11,4.8,0.292097,0.006742,POINT (-82.35258 29.65855)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12674,1,2885,2,120010010002026,"Block 2026, Block Group 2, Census Tract 10, Al...",0.0,0.0,0.0,0.0,0.0,...,52.006344,19.592582,80.229337,91.891144,56.890948,2,4.8,0.292098,0.006742,POINT (-82.37188 29.65302)
12675,1,2885,3,120010010002026,"Block 2026, Block Group 2, Census Tract 10, Al...",0.0,0.0,0.0,0.0,0.0,...,77.799574,58.191614,84.662205,85.522757,53.893701,3,4.8,0.292130,0.006744,POINT (-82.37188 29.65302)
12676,1,2885,5,120010010002026,"Block 2026, Block Group 2, Census Tract 10, Al...",0.0,0.0,0.0,0.0,0.0,...,43.101324,4.349607,59.444500,80.836658,84.998549,5,4.8,0.292040,0.006740,POINT (-82.37188 29.65302)
12677,1,2885,9,120010010002026,"Block 2026, Block Group 2, Census Tract 10, Al...",0.0,0.0,0.0,0.0,0.0,...,99.209382,87.508303,97.463087,93.936150,73.612917,9,4.8,0.292107,0.006743,POINT (-82.37188 29.65302)
12678,1,2885,10,120010010002026,"Block 2026, Block Group 2, Census Tract 10, Al...",0.0,0.0,0.0,0.0,0.0,...,70.987047,8.325780,59.181867,75.616175,86.948490,10,4.8,0.292058,0.006741,POINT (-82.37188 29.65302)

In [92]:
origin.NEAR_DIST=origin.NEAR_DIST*100/1.61
def assign_value(origin):

    if origin.NEAR_DIST <= 0.75:
        return 0
    elif origin.NEAR_DIST > 0.75 and  origin.NEAR_DIST <= 1.5:
        return 1
    elif origin.NEAR_DIST > 1.5 and  origin.NEAR_DIST <= 2.25:
        return 2
    else:
        return 3

# Apply the 'assign_value' function to each row of the DataFrame
origin['recode'] = origin.apply(assign_value, axis=1)

In [93]:
origin.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results//regional/ridership/origin_ridership.shp')

In [187]:
origin= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/accessibility/origin3_spatialjoin.shp')

In [95]:
origin['job/pop']=origin['C000']/origin['totalPp']

import numpy as np
origin=origin.replace([np.inf, -np.inf], np.nan)
origin=origin[origin['job/pop']!=0].dropna(subset=['job/pop'])
origin['job/pop'].describe()

count    3245.000000
mean        3.958898
std        30.546632
min         0.000678
25%         0.052632
50%         0.207547
75%         1.059524
max       562.526316
Name: job/pop, dtype: float64

In [188]:
origin['fmlm_score']=origin['job_pop']*origin['recode']

sum_score=origin.groupby(['index'])['fmlm_score'].sum().reset_index()

In [189]:
sum_score

    index  fmlm_score
0     179   38.146169
1     225    8.033122
2     235    0.118919
3     246    0.025097
4     255    0.062727
5     270    0.042764
6     302    0.164991
7     326   18.477548
8     363    7.333333
9     374    6.873982
10    524   12.115197
11    612    5.203120

In [190]:
#bicycle length
folder_path = 'C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/bike6'

shapefile_list = [file for file in os.listdir(folder_path) if file.endswith('.shp')]

merged_gdf = gpd.GeoDataFrame()

for shapefile in shapefile_list:
    gdf = gpd.read_file(os.path.join(folder_path, shapefile))
    
    merged_gdf = merged_gdf.append(gdf, ignore_index=True)

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\1568364928.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)

In [191]:
bike=merged_gdf.groupby(['index'])['Shape_Leng'].sum().reset_index()

In [192]:
#osm
folder_path = 'C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/osm6'

shapefile_list = [file for file in os.listdir(folder_path) if file.endswith('.shp')]

merged_gdf2 = gpd.GeoDataFrame()

for shapefile in shapefile_list:
    gdf = gpd.read_file(os.path.join(folder_path, shapefile))
    
    merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\901231665.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)

In [193]:
osm=merged_gdf2.groupby(['index'])['Shape_Le_1'].sum().reset_index()

In [194]:
#left join osm with sidewalk and bicycle 
df2 = pd.merge(osm,bike,how='left',on='index')
df2['bike_osm']=df2['Shape_Leng']/df2['Shape_Le_1']
df2=df2.rename(columns={'Shape_Leng':'bike'})
df_all=pd.merge(df2,sum_score,how='left',on='index')

In [195]:
folder_path = 'C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/access6'

shapefile_list = [file for file in os.listdir(folder_path) if file.endswith('.shp')]

merged_gdf4 = gpd.GeoDataFrame()

for shapefile in shapefile_list:
    gdf = gpd.read_file(os.path.join(folder_path, shapefile))
    #print(shapefile)
    merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\842705506.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)

In [196]:
inter_den=merged_gdf4.groupby(['index'])['D3BMM4'].mean().reset_index()

#merge 
final2 = pd.merge(inter_den,df_all,how='left',on='index')

In [351]:
buffer3= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/score/score_3mile.shp')

In [52]:
score.columns

Index(['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'RENT%', 'bike', 'bike_osm', 'sidewalk',
       'sidewalk_o', 'bus_stop_n', 'Walkscore1', 'D3BMM4', 'D3BPO4', 'D5AR',
       'D5BR', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%', 'BLACK%', 'fmlm_score',
       'ridership_', 'FMLM_index', 'infast_ind', 'socio_inde', 'access_ind',
       'score', 'fmlm_c', 'ridershi_1', 'infast_c', 'socio_c', 'access_c',
       'geometry'],
      dtype='object')

In [53]:
final2.columns

Index(['index', 'D3BMM4', 'Shape_Le_1', 'bike', 'bike_osm', 'fmlm_score'], dtype='object')

In [54]:
final3.columns

Index(['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'geometry', 'RENT%', 'D3BMM4', 'bike',
       'bike_osm', 'fmlm_score'],
      dtype='object')

In [197]:
score=score[['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'geometry', 'RENT%']]

In [198]:
final2

    index     D3BMM4    Shape_Le_1           bike  bike_osm  fmlm_score
0   179.0   1.532417  5.766706e+05  101258.730121  0.175592   38.146169
1   225.0   3.019677  1.019103e+06  215963.168112  0.211915    8.033122
2   235.0   7.141665  1.210765e+06  279684.095509  0.230998    0.118919
3   246.0   8.051877  1.074951e+06  226914.122429  0.211093    0.025097
4   255.0   9.384924  8.257936e+05  157893.843792  0.191203    0.062727
5   270.0  10.228917  6.271829e+05  115690.232702  0.184460    0.042764
6   302.0   2.656265  9.979065e+05  177565.948427  0.177938    0.164991
7   326.0   3.053931  6.911568e+05  118409.912303  0.171321   18.477548
8   363.0   7.252429  1.232580e+06  281894.667217  0.228703    7.333333
9   374.0   4.955243  8.358876e+05  218724.920181  0.261668    6.873982
10  524.0   9.243978  5.133805e+05   98153.212266  0.191190   12.115197
11  612.0   2.232134  9.096618e+05  113892.238124  0.125203    5.203120

In [199]:
score

,index,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,DIS_2064%,...,BLACK%,sidewalk,sidewalk_o,bus_stop_n,Walkscore1,D3BPO4,D5AR,D5BR,geometry,RENT%
0,179,0.000000,4.0,2.995752,0.462294,0.809249,0.059488,0.000000,5.271686,28.001983,...,19.569417,0.270438,0.684137,10.067114,50.828008,4.763582,7.332673,29.508311,"POLYGON ((-82.42051 29.61460, -82.41935 29.614...",19.640843
1,612,0.000000,12.0,3.822938,0.144467,0.115607,0.000000,0.010238,21.834298,25.678264,...,31.782821,15.239118,32.734108,29.530201,33.100024,9.793082,28.115945,56.338956,"POLYGON ((-82.42199 29.62059, -82.42315 29.620...",54.941072
2,374,0.000000,8.0,19.874804,3.943947,0.000000,13.920286,4.360892,42.409743,17.387699,...,8.376390,16.590193,31.192649,42.281879,43.101324,4.349607,59.444500,80.836658,"POLYGON ((-82.35936 29.59915, -82.36052 29.599...",84.998549
3,270,31.577742,16.0,3.420523,0.144467,0.971098,0.178465,4.480138,55.909216,80.806412,...,67.361171,65.132713,87.168068,74.496644,59.814868,61.725672,74.979262,77.274658,"POLYGON ((-82.30529 29.60585, -82.30645 29.605...",44.718928
4,363,0.000000,4.0,2.973396,0.404507,0.693642,1.606187,8.105081,15.354983,33.269593,...,11.210054,45.952512,61.774919,49.664430,77.799574,58.191614,84.662205,85.522757,"POLYGON ((-82.33867 29.65608, -82.33983 29.656...",53.893701
5,524,81.337302,8.0,0.670691,0.057787,0.023121,0.178465,19.007010,61.098462,57.637763,...,65.267518,73.815065,91.533720,77.852349,67.162193,76.784936,83.826308,84.227027,"POLYGON ((-82.27962 29.66573, -82.28079 29.665...",57.052223
6,326,92.603618,4.0,0.737760,0.086680,0.000000,0.000000,21.599696,61.617940,53.462099,...,59.854342,73.768139,96.816248,73.154362,69.202906,79.938927,86.409310,85.373664,"POLYGON ((-82.35540 29.69474, -82.35657 29.694...",60.294785
7,235,43.714220,60.0,32.819137,11.499567,6.959538,30.696014,98.616632,52.640173,15.599054,...,14.748273,68.214965,74.583126,96.644295,83.091263,75.496022,94.233948,98.532193,"POLYGON ((-82.35066 29.62108, -82.35183 29.621...",83.979493
8,302,46.393405,4.0,0.737760,0.231147,0.000000,0.000000,77.596902,47.181868,29.719543,...,15.438162,98.596979,96.485380,87.248322,99.209382,87.508303,97.463087,93.936150,"POLYGON ((-82.40818 29.64145, -82.40935 29.641...",73.612917
9,225,0.000000,28.0,27.162978,1.791390,2.057803,1.487210,3.076293,36.978991,19.754109,...,19.106035,33.690069,41.935827,48.993289,70.987047,8.325780,59.181867,75.616175,"POLYGON ((-82.38642 29.61052, -82.38759 29.610...",86.948490
10,246,12.205175,32.0,4.806617,5.561976,12.115607,2.498513,3.483414,57.853009,77.584316,...,70.088942,44.427650,74.573015,64.429530,51.957468,51.403014,69.767792,73.488571,"POLYGON ((-82.32172 29.63509, -82.32288 29.635...",40.241962
11,255,45.958324,12.0,1.632014,0.115574,0.023121,0.000000,2.133772,77.533907,65.766414,...,82.044350,32.670689,70.020278,58.389262,38.920422,53.485767,69.269794,74.142629,"POLYGON ((-82.29723 29.66145, -82.29606 29.661...",52.321315

In [200]:
final3

,index,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,DIS_2064%,...,Walkscore1,D3BPO4,D5AR,D5BR,geometry,RENT%,D3BMM4,bike,bike_osm,fmlm_score
0,627,0.000000,4.0,0.201207,0.014447,0.000000,0.000000,0.008432,21.834298,25.678264,...,27.400778,9.793082,28.115945,56.338956,"POLYGON ((-82.44591 29.64726, -82.44708 29.647...",54.941072,2.020705,69599.544437,0.099436,36.232279
1,363,0.000000,4.0,2.973396,0.404507,0.693642,1.606187,8.105081,15.354983,33.269593,...,77.799574,58.191614,84.662205,85.522757,"POLYGON ((-82.33867 29.65608, -82.33983 29.656...",53.893701,7.252429,281894.667217,0.228703,7.333333
2,374,0.000000,8.0,19.874804,3.943947,0.000000,13.920286,4.360892,42.409743,17.387699,...,43.101324,4.349607,59.444500,80.836658,"POLYGON ((-82.35936 29.59915, -82.36052 29.599...",84.998549,4.955243,218724.920181,0.261668,6.873982
3,450,0.000000,4.0,3.688799,0.202254,0.393064,0.773349,0.558286,47.495525,81.100652,...,31.955826,9.795373,57.019844,57.905514,"POLYGON ((-82.32206 29.67389, -82.32322 29.673...",51.820029,8.538772,173972.436964,0.187248,9.357007
4,528,11.884589,4.0,0.335345,0.202254,0.046243,0.000000,2.797451,51.952587,74.491760,...,52.981567,49.673776,67.945424,71.513326,"POLYGON ((-82.30533 29.65720, -82.30649 29.657...",35.980421,8.669374,188043.514336,0.206187,8.659341
5,270,31.577742,16.0,3.420523,0.144467,0.971098,0.178465,4.480138,55.909216,80.806412,...,59.814868,61.725672,74.979262,77.274658,"POLYGON ((-82.30529 29.60585, -82.30645 29.605...",44.718928,10.228917,115690.233030,0.184460,0.042764
6,235,43.714220,60.0,32.819137,11.499567,6.959538,30.696014,98.616632,52.640173,15.599054,...,83.091263,75.496022,94.233948,98.532193,"POLYGON ((-82.35066 29.62108, -82.35183 29.621...",83.979493,7.141665,279684.095509,0.230998,0.118919
7,524,81.337302,8.0,0.670691,0.057787,0.023121,0.178465,19.007010,61.098462,57.637763,...,67.162193,76.784936,83.826308,84.227027,"POLYGON ((-82.27962 29.66573, -82.28079 29.665...",57.052223,9.243978,98153.212266,0.191190,12.115197
8,326,92.603618,4.0,0.737760,0.086680,0.000000,0.000000,21.599696,61.617940,53.462099,...,69.202906,79.938927,86.409310,85.373664,"POLYGON ((-82.35540 29.69474, -82.35657 29.694...",60.294785,3.053931,118409.912303,0.171321,18.477548
9,225,0.000000,28.0,27.162978,1.791390,2.057803,1.487210,3.076293,36.978991,19.754109,...,70.987047,8.325780,59.181867,75.616175,"POLYGON ((-82.38642 29.61052, -82.38759 29.610...",86.948490,3.019677,215963.168112,0.211915,8.033122
10,246,12.205175,32.0,4.806617,5.561976,12.115607,2.498513,3.483414,57.853009,77.584316,...,51.957468,51.403014,69.767792,73.488571,"POLYGON ((-82.32172 29.63509, -82.32288 29.635...",40.241962,8.051877,226914.122429,0.211093,0.025097
11,255,45.958324,12.0,1.632014,0.115574,0.023121,0.000000,2.133772,77.533907,65.766414,...,38.920422,53.485767,69.269794,74.142629,"POLYGON ((-82.29723 29.66145, -82.29606 29.661...",52.321315,9.384924,157893.843792,0.191203,0.062727

In [201]:
final3=pd.merge(score,final2,how='left',on='index')[['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'geometry', 'RENT%', 'D3BMM4', 'bike', 'bike_osm', 'fmlm_score']]

#normalize the selected columns and save to a new df
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = 100*(df[feature_name] - min_value) / (max_value - min_value)
    return result

df_norm=normalize(final3[['inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'RENT%', 'D3BMM4', 'bike', 'bike_osm', 'fmlm_score']])

df_norm['ridership_index']=0.4*df_norm.Total_Acti+0.1*df_norm.W_C_TOTAL+0.1*df_norm.Route+0.1*df_norm.bus_stop_n+0.3*df_norm.total_trip
df_norm['FMLM_index']=0.15*df_norm.inner_micr+0.15*df_norm.inner_scoo+0.15*df_norm.BIKE_TOTAL+0.55*df_norm.fmlm_score
df_norm['infast_index']=0.16*(df_norm.bike_osm+df_norm.bike+df_norm.sidewalk_o+df_norm.sidewalk+df_norm.D3BMM4+df_norm.D3BPO4)
df_norm['socio_index']=0.2*(df_norm['VEHICLE_0%']+df_norm['DIS_2064%']+df_norm['BELOW_POV%']+df_norm['BLACK%']+df_norm['RENT%'])
df_norm['access_index']=0.2*df_norm.D5AR+0.3*df_norm.D5BR+0.5*df_norm.Walkscore1

df_norm['score']=0.5*df_norm['access_index']+0.125*(df_norm['socio_index']+df_norm['ridership_index']+df_norm['infast_index']+df_norm['FMLM_index'])

df_norm =df_norm.sort_values(by='score', ascending=False).head(4)

In [202]:
df_norm

,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,DIS_2064%,BELOW_POV%,...,D3BMM4,bike,bike_osm,fmlm_score,ridership_index,FMLM_index,infast_index,socio_index,access_index,score
7,47.205737,100.000000,100.000000,100.000000,57.442748,100.000000,100.000000,65.550831,0.000000,65.209884,...,64.500066,98.796912,77.525406,0.246117,95.744275,37.216225,75.576097,46.999819,87.092954,75.488529
8,50.098912,0.000000,0.208623,1.515152,0.000000,0.000000,78.685411,57.997362,21.654749,68.913010,...,12.922988,43.219825,38.644060,0.366974,9.583376,19.519484,63.110831,47.667641,98.002412,66.486372
6,100.000000,0.000000,0.208623,0.252525,0.000000,0.000000,21.902691,77.974706,58.065603,84.783791,...,17.495703,11.024567,33.795102,48.404858,7.450419,44.908076,52.473861,70.220526,69.133464,56.448342
5,87.833828,7.142857,0.000000,0.000000,0.190840,0.581395,19.273636,77.255826,64.469273,66.574335,...,88.674302,0.000000,48.354635,31.715007,8.562827,33.596582,62.949619,68.221703,66.518492,54.925587

In [110]:
df_norm.ridership_index.describe()

count    17.000000
mean     14.519476
std      20.783527
min       0.704518
25%       5.023738
50%       8.802066
75%      11.565335
max      90.000000
Name: ridership_index, dtype: float64

In [111]:
df_norm.score.describe()

count     9.000000
mean     32.622126
std       4.561263
min      23.096380
25%      30.584477
50%      33.355728
75%      34.624337
max      38.333011
Name: score, dtype: float64

In [113]:
df_norm

,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,DIS_2064%,BELOW_POV%,...,D3BMM4,bike,bike_osm,fmlm_score,ridership_index,FMLM_index,infast_index,socio_index,access_index,score
0,0.000000,0.000000,0.000000,1.547619,0.854701,6.391753,0.038086,26.055641,29.325913,12.360097,...,NaN,NaN,NaN,NaN,0.704518,NaN,NaN,20.484983,36.515436,NaN
1,0.000000,4.761905,3.561935,3.333333,29.914530,0.206186,0.000000,8.555440,32.030854,14.838409,...,NaN,NaN,NaN,NaN,6.194761,NaN,NaN,18.607194,17.611515,NaN
2,34.099901,19.047619,4.066986,0.714286,35.897436,0.618557,5.246713,90.735288,99.623357,57.917847,...,100.000000,9.150027,14.542666,0.231440,15.130397,6.122067,55.842550,78.024564,59.681863,32.524079
3,0.000000,23.809524,12.519936,16.904762,100.000000,100.000000,13.287818,44.188735,0.000000,44.101963,...,33.044614,100.000000,61.448728,0.000000,28.345992,16.993173,43.581166,30.828748,62.058768,33.355728
4,50.098912,4.761905,0.877193,1.428571,0.000000,0.000000,90.874147,76.571641,34.229423,73.525824,...,0.000000,41.433990,7.324168,0.892927,10.985574,21.637069,55.746236,57.285563,98.383529,34.624337
5,100.000000,4.761905,0.877193,0.238095,0.000000,0.000000,25.295520,100.000000,64.621169,87.041634,...,5.251345,10.569034,0.000000,100.000000,8.802066,73.794328,45.053337,80.537224,72.070935,38.333011
6,0.000000,4.761905,3.535354,0.238095,11.965812,0.000000,0.181967,0.000000,22.019228,5.293832,...,NaN,NaN,NaN,NaN,5.023738,NaN,NaN,9.718043,26.115585,NaN
7,0.000000,4.761905,3.535354,2.857143,25.641026,5.567010,9.491903,24.919663,38.773677,58.224152,...,60.694245,95.868021,63.512843,39.687807,10.365707,24.087131,63.245054,38.376907,77.503898,30.584477
8,0.000000,9.523810,23.631047,32.023810,0.000000,48.247423,5.107064,68.826941,18.444001,100.000000,...,30.358957,62.908890,100.000000,37.201808,25.078861,28.464167,38.861385,58.745563,46.615184,34.125218
9,0.000000,100.000000,100.000000,100.000000,0.000000,47.216495,100.000000,76.715322,14.448203,64.847770,...,NaN,NaN,NaN,NaN,90.000000,NaN,NaN,50.889076,80.028117,NaN
10,0.000000,4.761905,4.385965,1.190476,14.529915,2.680412,0.653811,77.080676,100.000000,58.592277,...,77.680943,39.559060,17.628479,50.639874,4.859373,28.352064,34.019981,74.447869,28.513636,23.096380
11,0.000000,9.523810,5.156831,3.095238,54.700855,1.855670,0.335722,39.905782,30.144840,36.854577,...,NaN,NaN,NaN,NaN,11.565335,NaN,NaN,39.622076,27.251081,NaN
12,87.833828,9.523810,0.797448,0.000000,0.854701,0.618557,22.259211,99.156936,69.966243,71.534172,...,86.993470,0.000000,21.991624,65.567127,9.813671,52.668659,58.489060,79.104566,69.626480,37.392931
13,12.833828,4.761905,0.398724,1.190476,1.709402,0.000000,3.276110,84.314059,91.540263,57.183715,...,79.405597,46.900715,38.590966,46.864127,6.852694,28.191760,56.120403,73.772407,51.008415,29.562970
14,0.000000,4.761905,2.153110,0.476190,0.000000,0.000000,0.033854,41.993555,26.840485,0.000000,...,NaN,NaN,NaN,NaN,2.694714,NaN,NaN,20.444515,34.493475,NaN
15,0.000000,4.761905,2.153110,0.238095,0.000000,0.412371,0.127659,45.679967,4.789173,19.737111,...,NaN,NaN,NaN,NaN,4.225492,NaN,NaN,14.041250,45.601413,NaN
16,0.000000,14.285714,4.545455,0.714286,4.273504,0.000000,0.011990,35.434969,29.056369,33.858111,...,NaN,NaN,NaN,NaN,6.188199,NaN,NaN,40.084794,22.175671,NaN

In [108]:
df_norm

,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,DIS_2064%,BELOW_POV%,...,D3BMM4,bike,bike_osm,fmlm_score,ridership_index,FMLM_index,infast_index,socio_index,access_index,score
5,100.000000,4.761905,0.877193,0.238095,0.000000,0.000000,25.295520,100.000000,64.621169,87.041634,...,5.251345,10.569034,0.000000,100.000000,8.802066,73.794328,45.053337,80.537224,72.070935,38.333011
12,87.833828,9.523810,0.797448,0.000000,0.854701,0.618557,22.259211,99.156936,69.966243,71.534172,...,86.993470,0.000000,21.991624,65.567127,9.813671,52.668659,58.489060,79.104566,69.626480,37.392931
4,50.098912,4.761905,0.877193,1.428571,0.000000,0.000000,90.874147,76.571641,34.229423,73.525824,...,0.000000,41.433990,7.324168,0.892927,10.985574,21.637069,55.746236,57.285563,98.383529,34.624337
8,0.000000,9.523810,23.631047,32.023810,0.000000,48.247423,5.107064,68.826941,18.444001,100.000000,...,30.358957,62.908890,100.000000,37.201808,25.078861,28.464167,38.861385,58.745563,46.615184,34.125218

In [59]:
result2

    index                                           geometry
0     161  POLYGON ((-82.38667 29.71739, -82.38550 29.717...
1     179  POLYGON ((-82.42051 29.61460, -82.41935 29.614...
2     270  POLYGON ((-82.30529 29.60585, -82.30645 29.605...
3     291  POLYGON ((-82.37393 29.63603, -82.37509 29.636...
4     302  POLYGON ((-82.40818 29.64145, -82.40935 29.641...
5     326  POLYGON ((-82.35540 29.69474, -82.35657 29.694...
6     350  POLYGON ((-82.36557 29.67407, -82.36673 29.674...
7     363  POLYGON ((-82.33867 29.65608, -82.33983 29.656...
8     374  POLYGON ((-82.35936 29.59915, -82.36052 29.599...
9     390  POLYGON ((-82.34913 29.62496, -82.35030 29.624...
10    450  POLYGON ((-82.32206 29.67389, -82.32322 29.673...
11    513  POLYGON ((-82.43875 29.65908, -82.43992 29.659...
12    524  POLYGON ((-82.27962 29.66573, -82.28079 29.665...
13    528  POLYGON ((-82.30533 29.65720, -82.30649 29.657...
14    575  POLYGON ((-82.40534 29.67423, -82.40651 29.674...
15    581  POLYGON ((-82.38852 29.65770, -82.38969 29.657...
16    612  POLYGON ((-82.42199 29.62059, -82.42315 29.620...

In [60]:
score_df

,index,geometry,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,...,D3BMM4,bike,bike_osm,fmlm_score,ridership_index,FMLM_index,infast_index,socio_index,access_index,score
4,302,"POLYGON ((-82.40818 29.64145, -82.40935 29.641...",50.098912,4.761905,0.877193,1.428571,0.000000,0.000000,90.874147,76.571641,...,0.000000,41.433990,7.324168,0.892927,10.985574,21.637069,55.746236,57.285563,98.383529,34.624337
5,326,"POLYGON ((-82.35540 29.69474, -82.35657 29.694...",100.000000,4.761905,0.877193,0.238095,0.000000,0.000000,25.295520,100.000000,...,5.251345,10.569034,0.000000,100.000000,8.802066,73.794328,45.053337,80.537224,72.070935,38.333011
8,374,"POLYGON ((-82.35936 29.59915, -82.36052 29.599...",0.000000,9.523810,23.631047,32.023810,0.000000,48.247423,5.107064,68.826941,...,30.358957,62.908890,100.000000,37.201808,25.078861,28.464167,38.861385,58.745563,46.615184,34.125218
12,524,"POLYGON ((-82.27962 29.66573, -82.28079 29.665...",87.833828,9.523810,0.797448,0.000000,0.854701,0.618557,22.259211,99.156936,...,86.993470,0.000000,21.991624,65.567127,9.813671,52.668659,58.489060,79.104566,69.626480,37.392931

In [203]:
result2=final3[['index','geometry']]

score_df=pd.concat([result2,df_norm],axis=1)

score_df=score_df.dropna()

score_df.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/district/access4.shp')

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_31696\3070652807.py:7: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  score_df.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/district/access4.shp')

In [737]:
score_df.columns

Index(['index', 'geometry', 'inner_micr', 'Route', 'total_trip', 'Total_Acti',
       'W_C_TOTAL', 'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%',
       'BELOW_POV%', 'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n',
       'Walkscore1', 'D3BPO4', 'D5AR', 'D5BR', 'RENT%', 'D3BMM4', 'bike',
       'bike_osm', 'fmlm_score', 'ridership_index', 'FMLM_index',
       'infast_index', 'socio_index', 'access_index', 'score'],
      dtype='object')

In [738]:
#calculate
score_df['access_index2']=0.33*(score_df.D5AR+score_df.D5BR+score_df.Walkscore1)

score_df['score2']=0.5*score_df['access_index2']+0.125*(score_df['ridership_index']+score_df['FMLM_index']+score_df['infast_index']+score_df['socio_index'])

score_df.sort_values(by='score2', ascending=False).head(1).to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/accessibility/access1.shp')

In [750]:
#revise fmlm of score
origin= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/score/upated_fmlm/census_centroid.shp')

In [751]:
origin['job/pop']=origin['C000']/origin['totalPp']

import numpy as np
origin=origin.replace([np.inf, -np.inf], np.nan)
origin=origin[origin['job/pop']!=0].dropna(subset=['job/pop'])

In [752]:
origin.NEAR_DIST=origin.NEAR_DIST*100/1.61
def assign_value(origin):

    if origin.NEAR_DIST <= 0.75:
        return 0
    elif origin.NEAR_DIST > 0.75 and  origin.NEAR_DIST <= 1.5:
        return 1
    elif origin.NEAR_DIST > 1.5 and  origin.NEAR_DIST <= 2.25:
        return 2
    else:
        return 3

# Apply the 'assign_value' function to each row of the DataFrame
origin['recode'] = origin.apply(assign_value, axis=1)

In [753]:
origin

,GEOID,NAME,educatd,nnhspnc,totalPp,C000,CA01,CA02,CA03,CE01,...,CFS05,creatdt,year,state,ORIG_FID,NEAR_FID,NEAR_DIST,geometry,job/pop,recode
5,120010003022003,"Block 2003, Block Group 2, Census Tract 3.02, ...",0.0,118.0,122.0,92.0,9.0,49.0,34.0,4.0,...,0.0,20230321,2020.0,FL,16,215,0.076374,POINT (-82.33763 29.69697),0.754098,0
8,120010004002002,"Block 2002, Block Group 2, Census Tract 4, Ala...",0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,...,0.0,20230321,2020.0,FL,21,729,0.084382,POINT (-82.29853 29.67312),2.000000,0
12,120010005005001,"Block 5001, Block Group 5, Census Tract 5, Ala...",0.0,18.0,28.0,4.0,0.0,3.0,1.0,3.0,...,0.0,20230321,2020.0,FL,29,478,0.252957,POINT (-82.31892 29.65864),0.142857,0
15,120010003012051,"Block 2051, Block Group 2, Census Tract 3.01, ...",0.0,19.0,22.0,38.0,12.0,15.0,11.0,10.0,...,0.0,20230321,2020.0,FL,33,583,0.196367,POINT (-82.32772 29.66205),1.727273,0
17,120010018112030,"Block 2030, Block Group 2, Census Tract 18.11,...",0.0,299.0,330.0,22.0,9.0,10.0,3.0,13.0,...,0.0,20230321,2020.0,FL,36,929,0.164718,POINT (-82.39381 29.69127),0.066667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2878,120010019021013,"Block 1013, Block Group 1, Census Tract 19.02,...",0.0,194.0,254.0,56.0,9.0,35.0,12.0,16.0,...,0.0,20230321,2020.0,FL,5859,607,0.452513,POINT (-82.31119 29.69578),0.220472,0
2879,120010016056026,"Block 6026, Block Group 6, Census Tract 16.05,...",0.0,7.0,8.0,1151.0,335.0,579.0,237.0,384.0,...,0.0,20230321,2020.0,FL,5863,190,0.082676,POINT (-82.39322 29.65833),143.875000,0
2882,120010022041000,"Block 1000, Block Group 1, Census Tract 22.04,...",0.0,726.0,761.0,20.0,2.0,12.0,6.0,6.0,...,0.0,20230321,2020.0,FL,5883,1074,0.427762,POINT (-82.45229 29.66896),0.026281,0
2883,120010008081003,"Block 1003, Block Group 1, Census Tract 8.08, ...",0.0,384.0,413.0,15.0,1.0,9.0,5.0,0.0,...,0.0,20230321,2020.0,FL,5889,632,0.383848,POINT (-82.32818 29.62563),0.036320,0
2884,120010014002010,"Block 2010, Block Group 2, Census Tract 14, Al...",88.0,232.0,249.0,374.0,80.0,196.0,98.0,31.0,...,0.0,20230321,2020.0,FL,5893,766,0.664336,POINT (-82.26897 29.66398),1.502008,0

In [754]:
origin.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/score/upated_fmlm/origin3.shp')

In [798]:
origin= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/ridership/origin_spatial5.shp')

In [799]:
origin['fmlm_score']=origin['job_pop']*origin['recode']
sum_score=origin.groupby(['index'])['fmlm_score'].sum().reset_index()

In [800]:
sum_score

    index  fmlm_score
0   225.0    8.033122
1   246.0    0.025097
2   255.0    0.062727
3   270.0    0.042764
4   291.0    0.000000
5   302.0    0.164991
6   326.0   18.477548
7   363.0    7.333333
8   374.0    6.873982
9   450.0    9.357007
10  524.0   12.115197
11  528.0    8.659341

In [759]:
origin= gpd.read_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/score/upated_fmlm/neighbourhood.shp')

In [760]:
origin.columns

Index(['OBJECTID', 'index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti',
       'W_C_TOTAL', 'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0_', 'DIS_2064_',
       'BELOW_POV_', 'BLACK_', 'sidewalk', 'sidewalk_o', 'bus_stop_n',
       'Walkscore1', 'D3BPO4', 'D5AR', 'D5BR', 'RENT_', 'ORIG_FID',
       'geometry'],
      dtype='object')

In [801]:
#bicycle length
folder_path = 'C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/bike2'

shapefile_list = [file for file in os.listdir(folder_path) if file.endswith('.shp')]

merged_gdf = gpd.GeoDataFrame()

for shapefile in shapefile_list:
    gdf = gpd.read_file(os.path.join(folder_path, shapefile))
    
    merged_gdf = merged_gdf.append(gdf, ignore_index=True)

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1884458222.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf = merged_gdf.append(gdf, ignore_index=True)

In [802]:
bike=merged_gdf.groupby(['index'])['Shape_Leng'].sum().reset_index()

In [803]:
#osm
folder_path = 'C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/osm2'

shapefile_list = [file for file in os.listdir(folder_path) if file.endswith('.shp')]

merged_gdf2 = gpd.GeoDataFrame()

for shapefile in shapefile_list:
    gdf = gpd.read_file(os.path.join(folder_path, shapefile))
    
    merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\2516433372.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf2 = merged_gdf2.append(gdf, ignore_index=True)

In [804]:
osm=merged_gdf2.groupby(['index'])['Shape_Le_1'].sum().reset_index()

In [805]:
#left join osm with sidewalk and bicycle 
df2 = pd.merge(osm,bike,how='left',on='index')
df2['bike_osm']=df2['Shape_Leng']/df2['Shape_Le_1']
df2=df2.rename(columns={'Shape_Leng':'bike'})
df_all=pd.merge(df2,sum_score,how='left',on='index')

In [806]:
folder_path = 'C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/access2'

shapefile_list = [file for file in os.listdir(folder_path) if file.endswith('.shp')]

merged_gdf4 = gpd.GeoDataFrame()

for shapefile in shapefile_list:
    gdf = gpd.read_file(os.path.join(folder_path, shapefile))
    #print(shapefile)
    merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)
C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\1296639004.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_gdf4 = merged_gdf4.append(gdf, ignore_index=True)

In [807]:
merged_gdf4

,FID_smart_,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,Walkscore1,D3BPO4_1,D5AR_1,D5BR_1,RENT_,ORIG_FID,BUFF_DIST,Shape_Le_1,Shape_Area,geometry
0,0,120010009021,120010009021,12,001,000902,1,264,"Gainesville-Lake City, FL",23540,...,70.987047,8.325780,59.181867,75.616175,86.948490,10,4.8,4437.098308,7.324863e+05,"POLYGON ((1317693.594 824294.219, 1317689.683 ..."
1,2,120010022072,120010022072,12,001,002207,2,264,"Gainesville-Lake City, FL",23540,...,70.987047,8.325780,59.181867,75.616175,86.948490,10,4.8,5553.315062,1.891919e+06,"POLYGON ((1309899.356 823040.036, 1309930.595 ..."
2,3,120010022181,120010022181,12,001,002218,1,264,"Gainesville-Lake City, FL",23540,...,70.987047,8.325780,59.181867,75.616175,86.948490,10,4.8,4162.496997,9.516937e+05,"POLYGON ((1311341.271 823376.850, 1311293.444 ..."
3,5,120010022054,120010022054,12,001,002205,4,264,"Gainesville-Lake City, FL",23540,...,70.987047,8.325780,59.181867,75.616175,86.948490,10,4.8,4190.538793,1.019505e+06,"POLYGON ((1310579.262 818636.695, 1310525.742 ..."
4,6,120010022172,120010022172,12,001,002217,2,264,"Gainesville-Lake City, FL",23540,...,70.987047,8.325780,59.181867,75.616175,86.948490,10,4.8,2522.319154,3.731176e+05,"POLYGON ((1310545.578 824296.725, 1310502.274 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,117,120010005002,120010005002,12,001,000500,2,264,"Gainesville-Lake City, FL",23540,...,52.981567,49.673776,67.945424,71.513326,35.980421,4,4.8,3762.423271,7.220464e+05,"POLYGON ((1320673.990 826899.100, 1320599.155 ..."
585,118,120010005003,120010005003,12,001,000500,3,264,"Gainesville-Lake City, FL",23540,...,52.981567,49.673776,67.945424,71.513326,35.980421,4,4.8,4101.049648,7.440407e+05,"POLYGON ((1319888.498 826785.947, 1319831.494 ..."
586,119,120010005005,120010005005,12,001,000500,5,264,"Gainesville-Lake City, FL",23540,...,52.981567,49.673776,67.945424,71.513326,35.980421,4,4.8,2751.449654,3.971214e+05,"POLYGON ((1319725.644 825934.218, 1319635.891 ..."
587,120,120010007004,120010007004,12,001,000700,4,264,"Gainesville-Lake City, FL",23540,...,52.981567,49.673776,67.945424,71.513326,35.980421,4,4.8,4187.975912,8.911287e+05,"POLYGON ((1323943.372 824873.708, 1323840.945 ..."
588,121,120010004002,120010004002,12,001,000400,2,264,"Gainesville-Lake City, FL",23540,...,52.981567,49.673776,67.945424,71.513326,35.980421,4,4.8,3859.949636,8.566086e+05,"POLYGON ((1321014.297 827752.205, 1320941.895 ..."

In [808]:
inter_den=merged_gdf4.groupby(['index'])['D3BMM4'].mean().reset_index()

#merge 
final2 = pd.merge(inter_den,df_all,how='left',on='index')

In [809]:
final3=pd.merge(score,final2,how='left',on='index')[['index', 'inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'geometry', 'RENT%', 'D3BMM4', 'bike', 'bike_osm', 'fmlm_score']]

#normalize the selected columns and save to a new df
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = 100*(df[feature_name] - min_value) / (max_value - min_value)
    return result

df_norm=normalize(final3[['inner_micr', 'Route', 'total_trip', 'Total_Acti', 'W_C_TOTAL',
       'BIKE_TOTAL', 'inner_scoo', 'VEHICLE_0%', 'DIS_2064%', 'BELOW_POV%',
       'BLACK%', 'sidewalk', 'sidewalk_o', 'bus_stop_n', 'Walkscore1',
       'D3BPO4', 'D5AR', 'D5BR', 'RENT%', 'D3BMM4', 'bike', 'bike_osm', 'fmlm_score']])

df_norm['ridership_index']=0.4*df_norm.Total_Acti+0.1*df_norm.W_C_TOTAL+0.1*df_norm.Route+0.1*df_norm.bus_stop_n+0.3*df_norm.total_trip
df_norm['FMLM_index']=0.15*df_norm.inner_micr+0.15*df_norm.inner_scoo+0.15*df_norm.BIKE_TOTAL+0.55*df_norm.fmlm_score
df_norm['infast_index']=0.16*(df_norm.bike_osm+df_norm.bike+df_norm.sidewalk_o+df_norm.sidewalk+df_norm.D3BMM4+df_norm.D3BPO4)
df_norm['socio_index']=0.2*(df_norm['VEHICLE_0%']+df_norm['DIS_2064%']+df_norm['BELOW_POV%']+df_norm['BLACK%']+df_norm['RENT%'])
df_norm['access_index']=0.2*df_norm.D5AR+0.3*df_norm.D5BR+0.5*df_norm.Walkscore1

df_norm['score']=0.125*(df_norm['access_index']+df_norm['FMLM_index']+df_norm['infast_index']+df_norm['socio_index'])+df_norm['ridership_index']*0.5

df_norm =df_norm.sort_values(by='score', ascending=False).head(3)

In [810]:
df_norm

,inner_micr,Route,total_trip,Total_Acti,W_C_TOTAL,BIKE_TOTAL,inner_scoo,VEHICLE_0%,DIS_2064%,BELOW_POV%,...,D3BMM4,bike,bike_osm,fmlm_score,ridership_index,FMLM_index,infast_index,socio_index,access_index,score
10,13.18002,100.000000,16.666667,100.000000,100.000000,8.659794,3.796964,68.347959,95.498902,26.890167,...,71.251288,67.181647,44.020735,0.135822,71.761905,3.920219,54.253835,56.682338,34.149280,54.506661
9,0.00000,85.714286,100.000000,31.496063,16.984733,5.154639,3.268500,34.777070,21.473132,72.322008,...,4.799011,61.467932,44.930990,43.475042,57.439756,25.174744,24.512328,49.198331,44.833460,46.684736
4,0.00000,14.285714,72.833333,70.603675,0.000000,48.247423,4.935975,43.511142,18.444001,100.000000,...,30.358957,62.908890,100.000000,37.201808,55.139089,28.438504,30.922856,52.294110,28.578257,45.098760

In [811]:
result2=final3[['index','geometry']]

score_df=pd.concat([result2,df_norm],axis=1)

score_df=score_df.dropna()

score_df.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/ridership/ridership3.shp')

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\3073672970.py:7: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  score_df.to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/ridership/ridership3.shp')

In [812]:
#calculate
score_df['access_index2']=0.33*(score_df.D5AR+score_df.D5BR+score_df.Walkscore1)

score_df['score2']=0.125*(score_df['access_index2']+score_df['FMLM_index']+score_df['infast_index']+score_df['socio_index'])+score_df['ridership_index']*0.5

score_df.sort_values(by='score2', ascending=False).head(1).to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/ridership/ridership1.shp')

C:\Users\anranzheng\AppData\Local\Temp\ipykernel_28168\4186124216.py:6: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  score_df.sort_values(by='score2', ascending=False).head(1).to_file('C:/Users/anranzheng/Dropbox (UFL)/Mobility Hub/Data/results/regional/ridership/ridership1.shp')